/* //RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* //HEADER */
.header {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.logo span {
  color: #00ffc8;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* centrado */
  align-items: center;
  gap: 2rem;
  /* espaciado uniforme */
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  background-color: #00ffc8;
  border-radius: 10px;
  width: 60px;
  height: 25px;
}

/* Botón Inicia Sesión */
.btn-login {
  background-color: #00ffc8;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 30px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background-color: #06cfa4;
  /* verde más oscuro al pasar el mouse */
}

/* //HERO */
.hero {
  margin-top: 5rem;
  /* margen arriba para que no pegue con el menú */
  margin-bottom: 3rem;
  display: flex;
  /* para centrar el carrusel */
  justify-content: center;
}

.carousel {
  width: 800px;
  /* ancho fijo */
  max-width: 100%;
  /* que no se desborde en pantallas pequeñas */
}

/* Imagen del carrusel */
.hero .carousel-item img {
  height: 300px;
  /* altura controlada */
  object-fit: cover;
  /* recorta manteniendo proporción */
  object-position: center;
  /* centra la imagen */
}

/* Botones de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* //ASOCIACIONES */
.asociaciones {
  text-align: center;
  padding: 3rem 2rem;
  background-color: #fff;
}

.asociaciones h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.logo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* círculo */
  object-fit: cover;
  border: 2px solid #ddd;
}

/* //BOTONES */
.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn.elegirPlan {
  background-color: #ffffff;
  border: 2px solid #000;
  color: #000;
  height: 40px;
  width: 200px;
  border-radius: 50px;
}

.btn.elegirPlan:hover {
  background-color: #f2f2f2;
  border: 2px solid #000;
  /* verde más oscuro al pasar el mouse */
}

.btn.elegirPlandestacado {
  background-color: #00ffc8;
  color: #000;
  height: 40px;
  width: 200px;
  border-radius: 50px;
}

.btn.elegirPlandestacado:hover {
  background-color: #08dbad;
  color: #000;
  /* verde más oscuro al pasar el mouse */
}

.btn.verBeneficios {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50px;
}

.btn.verBeneficios:hover {
  background-color: #f2f2f2;
  border: 2px solid #000;
  /* verde más oscuro al pasar el mouse */
}


.btn.verplanEntrenamiento {
  background-color: #00ffc8;
  color: #000000;
  font-weight: bold;
  border: 2px solid #00ffc8;
  border-radius: 50px;
}

.btn.verplanEntrenamiento:hover {
  background-color: #08dbad;
  color: #000;
  /* verde más oscuro al pasar el mouse */
}

/* //BENEFICIOS */
.beneficios {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f9f9f9;
}

.beneficios h2 {
  margin-bottom: 2rem;
}

.beneficios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.beneficios-grid-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.beneficios-grid-botones2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.beneficio {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

/* //PLANES */
.textprecio i {
  color: rgb(0, 0, 0);
  margin-right: 8px;
  font-size: 1.1rem;
  /* más grande */
  font-weight: 900;
}

.textprecio i.checkDestacado {
  color: #08dbad;
}

.planes {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #ffffff;
}

.planes h2 {
  margin-bottom: 2rem;
}

.planes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.plan {
  background-color: #fff;
  border: 1px solid #000000;
  padding: 1.5rem;
  border-radius: 20px;
  width: 350px;
  height: 580px;
  /* altura base igual para todas */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Botones dentro de las tarjetas */
.plan .btn,
.plan .elegirPlan,
.plan .elegirPlandestacado {
  display: block;
  /* que ocupen toda la línea */
  margin: 0 auto;
  /* centra horizontalmente */
  text-align: center;
  /* centra el texto dentro del botón */
  margin-bottom: 9px;
}

.plan.destacado {
  border: 2px solid #011324;
  background-color: #011324;
  color: #ffffff;
  text-align: center;
  height: 600px;
  /* misma altura base */
  margin-top: -20px;
  /* se eleva hacia arriba */
  z-index: 1;
  /* se pone encima visualmente */
}

.plan.destacado:hover {
  background-color: #011a32;
}

.precio {
  font-size: 5rem;
  margin: 0 0 0 0;
  margin-top: -5%;
  font-weight: bold;
}

.ivi {
  font-size: 1.4rem;
  font-weight: lighter 1;
}

.bloque-precio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* alinea hijos a la izquierda */
  gap: 0.5rem;
  /* espacio uniforme entre hijos */
}

.bloque-precio p {
  text-align: justify;
}


.linea-horizontal {
  height: 2px;
  width: 180px;
  background-color: #00ffc8;
  margin-bottom: 0.8rem;
  /* separa la línea del primer texto */
  margin-left: 60px;
}

.linea-horizontal-simple {
  height: 2px;
  width: 180px;
  background-color: #000000;
  margin-bottom: 0.8rem;
  /* separa la línea del primer texto */
  margin-left: 60px;
}

.bloque-precio p:first-of-type {
  margin-top: 0.3rem;
  /* espacio solo para el primer texto */
}

.textprecio {
  align-items: center;
  font-size: 0.9rem;
  text-align: justify;
  /* justifica el texto */
  margin: 0;
  /* elimina márgenes extra */
  line-height: 1.4;
  /* mejora legibilidad */
  width: 280px;
}


.textBe {
  font-size: 1rem;
  color: #000000;
  background-color: #d4d0d0;
  border-radius: 50px;
  padding: 10px;
  width: 700px;
  margin: 0 auto;
  height: 50px;
}

.verBeneficiosMini {
  color: #000000;
  background-color: #00ffc8;
  border: 2px solid #00ffc8;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 10px 0 0 10px;
}

/* //SUSCRIPCIÓN */

.gratis {
  color: #000000;
  background-color: #00ffc8;
  border: 2px solid #00ffc8;
  border-radius: 50px;
  padding: 5px 10px;
}

.suscripcion {
  background-color: #ffffff;
  padding: 3rem 2rem;
  text-align: center;
}

.suscripcion h2 {
  margin-bottom: 1rem;
}

.img-cuadro {
  width: 400px;
  height: auto;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 40px;
}

.Suscripciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
  max-width: 1000px;
  /* limita el ancho */
  margin: 0 auto;
  /* centra el bloque */
}

.texto-suscripcion {
  display: flex;
  flex-direction: column;
  /* apila h6 y p */
  flex: 2;
  /* ocupa espacio disponible */
}

.texto-suscripcion h6 {
  margin-bottom: 0.5rem;
  text-align: justify;
  /* espacio entre título y párrafo */
}

.texto-suscripcion p {
  text-align: justify;
  width: 500px;
}

.bloque-sub {
  display: flex;
  justify-content: space-between; /* texto a la izquierda, botones a la derecha */
  align-items: center;
  background-color: #e7e3e3;         /* fondo */
  color: #000000;                    /* texto */
  border-radius: 15px;            /* bordes redondeados */
  padding: 3rem;
  max-width: 900px;
  margin: 2rem auto;              /* centrado en la página */
}

.bloque-sub .textoSub h3 {
  margin-bottom: 1rem;
  text-align: justify;
}

.bloque-sub .textoSub p {
  text-align: justify;
  line-height: 1.4;
  margin-right: 60px;
}

.bloque-sub .botones-sub {
  display: flex;
  flex-direction: column;         /* botones uno debajo del otro */
  align-items: center;            /* centrados horizontalmente */
  gap: 1rem;                      /* espacio entre botones */
}

.btn.subs{
  background-color: #00ffc8;
  width: 140px;
  border-radius: 50px;
}
.btn.ben{
  background-color: #ffffff;
  width: 140px;
  border-radius: 50px;
}

/* //FOOTER */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* PREGUNTAS FRECUENTES */
.faq {
  text-align: center;       /* centra el título */
  margin: 2rem auto;
  max-width: 900px;
}

.faq h3 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.faq-botones {
  display: flex;
  justify-content: center;  /* centra los botones en fila */
  gap: 1rem;                /* espacio entre botones */
  margin-bottom: 2rem;      /* separación con el acordeón */
}

.faq-botones .btn {
  /* tus estilos de botón ya existentes se aplican aquí */
  color: #000;
}

.accordion-button {
  background-color: #ffffff !important;  /* fondo oscuro */
  color: #000000 !important;             /* texto claro */
}

.accordion-button:not(.collapsed) {
  background-color: #08dbad !important; /* color cuando está abierto */
  color: #000 !important;               /* texto cuando está abierto */
}

.accordion-body {
  background-color: #fffdfd;
  color: #000;
}


/* //RESPONSIVE DESIGN */

/* Tablets (pantallas menores a 992px) */
@media (max-width: 992px) {
  nav ul {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .planes-grid {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 80%;
    max-width: 400px;
  }
}

/* Móviles (pantallas menores a 600px) */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .hero {
    padding: 2rem 1rem;
  }

  .hero-content h1 {
    font-size: 1.6rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .beneficios-grid {
    grid-template-columns: 1fr;
  }

  .planes-grid {
    flex-direction: column;
    gap: 1rem;
  }

  .plan {
    width: 100%;
  }

  .suscripcion {
    padding: 2rem 1rem;
  }
}